* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #050b17;
    color: #cfd8e3;
}

/* SIDEBAR */

.sidebar {
    position: fixed;
    height: 100%;
    width: 230px;
    background: linear-gradient(180deg,#020814,#071a33);
    padding-top: 20px;
}

.sidebar h2 {
    color: #00b4ff;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    padding: 14px 20px;
    color: #9ca3af;
    text-decoration: none;
    transition: 0.2s;
}

.sidebar a:hover,
.sidebar .active {
    background: rgba(0,180,255,0.12);
    color: #00b4ff;
}

/* MAIN AREA */

.main {
    margin-left: 230px;
    padding: 20px 30px;
}

/* TOP BAR */

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* STATS CARDS */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 20px;
}

.card {
    background: linear-gradient(180deg,#071a33,#051327);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.card h4 {
    color: #9ca3af;
}

.card p {
    font-size: 26px;
    color: #00b4ff;
}

/* ALERT BAR */

.alert-box {
    background: linear-gradient(90deg,#460000,#6b0000);
    padding: 12px;
    margin-top: 15px;
    border-radius: 8px;
    color: #ff4d4d;
}

/* CHART */

.chart-box {
    background: linear-gradient(180deg,#071a33,#051327);
    padding: 20px;
    border-radius: 12px;
    margin-top: 25px;
    height: 350px;
}

/* TABLE */

.table-box {
    background: linear-gradient(180deg,#071a33,#051327);
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    color: #00b4ff;
    text-align: left;
    padding-bottom: 10px;
}

td {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.tampered-row {
    background: rgba(255,0,0,0.08);
}

